/* отключить все встроенные стили: */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
button,
input {
	outline: none;
	border: none;
}
.button-container {
	background-color: #f0f0f0;
	height: 100vh;
	/* отображение */
	display: flex;
	/* направление flex*/
	/* flex-direction: column; */
	/* отступ между элементами */
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.btn {
	/* выравнивание текста */
	text-align: center;
	font-size: 14px;
	font-family: Consolas;
	/* жирность текста */
	font-weight: bold;
	cursor: pointer;
	/* прозрачная рамка */
	border: transparent solid 1px;

	border-radius: 3px;
	color: white;
	background-color: #000;
	padding: 10px 25px;
	transition: 0.2s;
}
/* при наведении */
.btn:hover {
	background-color: #313131;
}
.btn:active {
	/* уменьшение размера кнопки при клике */
	transform: scale(90%);
}
.primary {
	background-color: #0084ff;
}
.primary:hover {
	background: #005eb6;
}
.outline {
	background-color: transparent;
	border-color: #0084ff;
	color: #005eb6;
}
.outline:hover {
	background: #0084ff;
	color: #fff;
}
.another {
	width: 100%;
}

