body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: black;
}

#game-container {
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #0072ff;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #00c6ff;
}

button {
    background-color: #0072ff;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005bb5;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}