.users-list{
    display: flex;
    gap: 30px;
}

.user-card{
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.user-card__avatar{
    width: 50px;
    height: 50px;
    border-radius: 70%;
    object-fit: cover;
}

.user-card-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-card-info__desc{
    font-size: 12px;
    font-weight: bold;
}

.like{
    background: transparent;
    border: 1px solid #000;
    padding: 2px;
    cursor: pointer;
}

.like--active{
    color: #fff;
    background: red;
}