* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}
body {
  font-family: Arial, sans-serif;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  position: relative;
}
.close-button {
  color: #aaa;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 28px;
  font-weight: bold;
}
.close-button:hover {
  color: black;
  cursor: pointer;
}
