.container {
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}

.item {
  width: 100px;
  height: 100px;
  background-color: aqua;
}