
input{
    outline: none;
}

.input-container{
    background: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.input{
    margin: 8px;
    padding: 8px;
    border: solid #ccc;
    border-radius: 8px;
    border-color: 0.3s;
    box-shadow: 0.3s;

}
.input:focus{
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.input-small{
    margin: 10px;
    padding: 10px;
}
.input-medium{
    margin: 12px;
    padding: 12px;
}
.input-large{
margin: 14px;
padding: 14px;
}