* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


.tabs-container {
    display: flex;
    border: 1px dotted #ccc;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto; 
}

.tab {
    flex: 1;
}


.tab input[type="radio"] {
    display: none; 
}

.tab label {
    display: block;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ccc;
}

.tab label:hover {
    background-color: #e0e0e0;
}

.tab input[type="radio"]:checked + label {
    background-color: #fff;
    font-weight: bold;
}

.tab-content {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content p {
    margin: 0;
}
