.work-together-wrap {
	max-width: 1440px;
	width: 100%;
	height: 655px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-inline: auto;
	padding: 60px 150px;
}
.work-together-main {
	width: 1140px;
	height: 535px;
	display: flex;
	gap: 20px;
	padding: 135.67px 10px 135.69px 10px;
}
.work-together-info {
	width: 550px;
	height: 264px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	p {
		margin-top: 16px;
	}
}
.work-link {
	margin-top: 40px;
}
