.loved-by {
	max-width: 1120px;
	height: 628px;
	margin-top: 60px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	a {
		margin-top: 24px;
	}
}
.reviews-block {
	width: 100%;
	height: 460px;
	display: flex;
	gap: 20px;
	margin-top: 40px;
}
.reviews {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	padding: 36px;
	.title-m {
		max-width: 291.68px;
		color: var(--black_opacity);
		display: flex;
		align-items: flex-start;
		margin-top: 34px;
	}
}
.reviews:nth-child(1) {
	.reviewer {
		margin-top: 51px;
	}
}
.reviews:nth-child(2) {
	.reviewer {
		margin-top: 123px;
	}
}
.reviews:nth-child(3) {
	.reviewer {
		margin-top: 123px;
	}
}
.reviewer {
	display: flex;
	align-items: center;
	gap: 16px;
}