/*  CSS Transitions:

    transition-property: Указывает свойства, которые будут анимироваться.
    transition-duration: Время, через которое происходит анимация.
    transition-timing-function: Определяет кривую изменения свойства во времени.
    transition-delay: Задержка перед началом анимации. 

    также все эти свойства можно объединить в один
    transition: all 0.2s easy 10s


    CSS Animations:
    @keyframes: Определяет ключевые кадры для анимации.
    animation-name: Указывает имя ключевых кадров.
    animation-duration: Продолжительность анимации.
    animation-timing-function: Определяет, как изменяется скорость анимации.
    animation-iteration-count: Количество повторений анимации.
*/

/* Пример: */
.box {
  animation-name: slidein;
  animation-duration: 3s;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
