/* Фильтры (CSS Filters):
    CSS Filters предоставляют возможность применять эффекты к элементам HTML, 
    такие как размытие, насыщенность, яркость, контрастность и другие. 
    Эти эффекты можно применять к изображениям, видео, обычному тексту и даже фоновым изображениям. 
*/

/* Пример использования CSS Filters: */

/* Применение размытия к изображению */
img {
  filter: blur(5px);
}

/* Увеличение яркости текста */
p {
  filter: brightness(150%);
}

/* Маски (CSS Masks):
CSS Masks позволяют создавать маскирующие эффекты для элементов, 
позволяя отображать их содержимое в виде сложных форм, градиентов или изображений. 
*/

/* Пример использования CSS Masks: */
/* Применение градиентной маски к элементу */
.element {
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
