.Header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #89868659;
  background: #fff;
  nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
.subtitle {
  font-size: 25px;
}
.Form_login {
  width: 400px;
  background: #fff;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comments {
  padding-bottom: 25px;
}
.input {
  width: 100%;
}
