.User_profile_main {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  gap: 30px;
  .profile-card {
    height: max-content;
  }
}
.user_profile_form {
  width: 400px;
  background: #fff;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
