* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.h {
    display: inline-flex;
    width: 100%;
}

.e {
    display: inline-flex;
    width: 100%;
}

.g {
    display: inline-flex;
    width: 100%;
}

.coe1 {
    display: none;
    position: relative;
}

.coe2 {
    display: none;
    position: relative;
}

.coe3 {
    display: none;
    position: relative;
}

.h:hover .coe1 {
    display: block;
}

.e:hover .coe2 {
    display: block;
}

.g:hover .coe3 {
    display: block;
}