.a1:active {
    background-color: red;
}

.a2:active {
    width: 120%;
    height: 50%;
}

.a3:active {
    color: black;
}

.b1:focus {
    outline: none;
    border-color: green;
}

.b2:focus {
    background-color: green;
}

.b3:focus {
    color: green;
}

.g:disabled {
    background-color: green;
}

.coolol:disabled {
    color: green;
}

.gu:disabled {
    border-color: green;
}