* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

button,
input {
  border: none;
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
} 

.login {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 20px;
  background: rgb(0, 166, 255);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: pulse 1s infinite;
}

.login:hover {
  /* transform: scale(1.2); */
  /* transform: rotate(180deg); */
  /* transform: translate(-10px, -10px); */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.login:active {
  transform: scale(0.9);
}

.field {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.2s;
}

.field:hover {
  border-color: blue;
}

.field:focus {
  border-color: red;
}

@keyframes pulse {
  /* from {
  }
  to {
  } */

  0% {
    background: red;
  }
  50% {
    background: #000;
  }
  100% {
    background: green;
  }
}
