
*{
    margin: 0;
    padding: 0;
}
/* 
ul{
    list-style: none;
}

.list{
    margin-top: 40px;
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
}

.item{
    cursor: pointer;
    &:hover{
        color: red;
        .item-list{
            opacity: 1;
            visibility: visible;
        }
    }
}

.item-list{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
} */



/* .header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid red;
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    height: 60px;

    ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

p{
    margin-top: 70px;
} */


.container{
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
}

.wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid #000;
}

.users-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.user-card{
    max-width: 300px;
    width: 100%;
    height: 250px;
    background: #000;
    border-radius: 10px;
}