

.text-gray{
    color: gray;
}

.flex{
    display: flex;
    
}

.a-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.block{
    display: flex;
    align-items: center;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
}