.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form input{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: #e2e2e2;
    border-radius: 5px;
}

.form button{
    padding: 10px;
    border: none;
    outline: none;
    background: #0093fc;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.form button:disabled{
    opacity: .2;
    cursor: not-allowed;
}


.colors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.color{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, .6);
    cursor: pointer;
    border: 2px solid transparent;
}

.color.active{
    border: 2px solid #000;
}

.todosFilters{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;


    button{
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 5px;

        &.active{
            background: #0486ff;
            color: #fff;
        }
    }
}