

.font_n{
font-weight: 500;
font-size: 14px;
color: #171c26;
}

.font_n-1{
font-weight: 400;
font-size: 12px;
color: #687182;
}


.font-d{
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: #464f60;
}

.font600_11{
    font-weight: 600;
    font-size: 11px;
    color: #464f60;
}

.font500_12{
font-weight: 500;
font-size: 12px;
}
.font400_14{
font-weight: 400;
font-size: 14px;
}
.font400_12{
font-weight: 400;
font-size: 12px;
}

.cad{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: right;
    color: #687182;
}

