@import url(./header.css);
@import url(./style_tag.css);
@import url(./font.css);
@import url(./color.css);
@import url(./btn.css);
@import url(./input.css);




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

button, input{
    outline: none;
    border: none
}

.container{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

table{
border-collapse: collapse;
margin-left: 10px;
}


.checkbox{
border-radius: 4px;
fill: #fff;
box-shadow: 0 2px 5px 0 rgba(89, 96, 120, 0.1),
}
.w26{
width: 26px;
/* margin-top: 12px;
margin-right: 20px; */
}
.wh16{
width: 16px;
height: 16px;
}

.updown_top{
    /* display: flex; */
    padding: 12px 0px;
    width: 36px;
    height: 40px;
    /* text-align: left; */
}
.th_updown{
display: flex;
align-items: center;
justify-content: left;
gap: 2px;
}
.name{
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 12px 0px;
    width: 160px;
    height: 40px;
    text-align: left;
}

.up-down{
display: flex;
flex-direction: column;
align-items: center;
gap: 1px;
}

.img_updown{
cursor: pointer;
width: 8px;
height: 5px;
}
.th_descript{
    width: 238px;
    height: 40px;

}


.th_status{
    width: 70px;
    height: 40px;
}

.th0{
    width: 100px;
    height: 40px;
}


th:nth-child(7),th:nth-child(6),th:nth-child(5),
th:nth-child(4),th:nth-child(3),th:nth-child(2),
th:nth-child(1){
    padding-right: 20px;
}
th:nth-child(1){
margin-left: 10px;
}
th:nth-child(8){
    padding-right: 50px;
}
th:nth-child(8),th:nth-child(7),th:nth-child(6){
    text-align: right;
}

th:nth-child(1),th:nth-child(2),th:nth-child(3),
th:nth-child(4),th:nth-child(5){
    text-align: left;
}

td:nth-child(7),td:nth-child(6),td:nth-child(5),
td:nth-child(4),td:nth-child(3),td:nth-child(2),
td:nth-child(1){
    padding-right: 20px;
}

td:nth-child(8){
    padding-right: 50px;
}
td:nth-child(8),td:nth-child(7),td:nth-child(6){
    text-align: right;
}

td:nth-child(2){
padding-bottom: 20px;
}

td:nth-child(4){
padding-top: 12px;
padding-bottom: 12px;
}
