.input {
  /* padding: 10px;
  background-color: brown; */
  background-color: transparent;
  padding: 12px 3px;
  width: 100%;
}

.input::placeholder {
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff;
}

.input:focus::placeholder {
  font-weight: 300;
}
