@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}



button:disabled{
  opacity: .4;
  background: #cdcdcd;
  cursor: not-allowed;
}



.card{
  max-width: 300px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}


.user-card{
  border: 1px solid #dbdbdb;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}