*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button, input{
    border: none;
    outline: none;
}