.overlay {
  background: #2148C0;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 71px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
}