.accordion {
    max-width: 400px;
    margin: 0 auto;
}

.section {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.section-header {
    background-color: #f0f0f0;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
}


.section-content {
    display: none;
    padding: 10px;
}
.section:active {
    .section-content {
        display: block;
    }
}


.section-content p {
    margin: 0;
}

.section.active .section-content {
    display: block;
}
