

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}


a {
    text-decoration: none;
}

.user_bocks {
    h2 {
        font-size: 20px;
    }
}
header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    border-bottom: #DBDBDB solid 1px;
}
.header_item_one {
    display: flex;
    gap: 47px;
    align-items: center;
}
.header_item_two {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}
.home {
    display: flex;
    gap: 20px;
    font-family: Nu;
}
.home_link {
    color: #000;

}
.header_login {
    background: #5968F1;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
}
.Login {
    font-size: 14px;
    color: #fff;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container_item {
        display: flex;
    }
    .continer_button {
        margin-top: 31px;
        width: 100%;
        display: flex;
        justify-content: center;
        button {
            padding: 4px 29px;
            border-radius: 5px;
            border: #5968F1 solid 1px;
            background: #fff;
        }
        a {
            color: #5968F1;
            font-size: 14px;
        }
    }
}

.profile-card {
    /* width: 300px; */
    background: #F4F4F4;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
    border: #DBDBDB solid 1px;
    margin: 10px 5px;
}

.card_data {
    width: 100%;
    height: 60px;
    display: flex;
        justify-content: space-between;
    gap: 20px;

    .profile-image {
        width: 60px;
        height: 60px;
    }
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;

    h2 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }

}

.status-buttons {
    display: flex;
    justify-content: space-between;
    .status-searching {
        background: #5CA5FA;
    }
    .status-online {
        background: #04DD00;
    }
    button {
        border-radius: 50px;
        padding: 6px;
        border: none;
        color: #fff;
    }
}