@import url('./flex.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth{
    height: 100vh;
}

.fs-12{
    font-size: 12px;
    line-height: 16px;
}

.fs-14{
    font-size: 14px;
    line-height: 20px;
}

.fs-16{
    font-size: 16px;
    line-height: 20px;
}

form{
    border: 1px solid #000;
    width: 200px;
}

input{
    width: 200px;
    padding: 20px;
}