* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}

.input-container {
  background: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.input-small {
  padding: 10px;
}
.input-medium {
  padding: 12px;
}
.input-large {
  padding: 14px;
}
