@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./components/button.css');
@import url('./components/imput.css');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.overlay{
  background-color: #2148C0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button, input{
  border: none;
  outline: none;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 71px;
}

.login-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
  color: #fff;
}

.login-form{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field{
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 4px;
  gap: 10px;
  padding: 0 12px;
}

