

.fs12{
  font-size: 12px;
}

.fs14{
  font-size: 14px;
}

.fs20{
  font-size: 20px;
}

.fs24{
font-size: 24px;
}

.fs40{
  font-size: 40px;
}

.fs48{
  font-size: 48px;
}

.lh119{
  line-height: 119%;
}

.lh157{
  line-height: 157%;
}