*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

button, input{
    outline: none;
    border: none
}
.profile-container {
    height: 100vh;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: #11fa005d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 350px;
    width: 100%;
    font-family: 'Consolas', sans-serif;
    text-align: center;
}
.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.profile-name {
    font-size: 1.5em;
}
.profile-description {
    color: #777;
}
.contact-button {
    background: #007BFF;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.4s;
}
.contact-button:hover {
    background: #0056b3;
}