/* Тут мы описываем стили под десктоп */
body {
  font-size: 20px;
}

.header {
  display: block;
}

/* Что тут происходит? в данном примере показоно, что как только 
    ширина нашего экрана достигнет 768px применятся именно те стили которые мы укзазали ниже 
    - это и есть адаптивный дизайн или адаптивная верстка
*/
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .header {
    display: none;
  }
}
