/* <div id="container">
<p>Это обычный абзац</p>
<p class="important">Этот абзац важен</p>
</div>
<div class="wrapper">
<p>Другой обычный абзац</p>
<p class="special">Этот абзац особенный</p>
</div> */

/* Элементные селекторы */
p {
    color: blue;
}

/* Селекторы классов */
p.important {
    font-weight: bold;
}

/* Селекторы идентификаторов */
#container p {
    background-color: lightgray;
    padding: 10px;
}

/* Комбинированные селекторы */
.wrapper p.special {
    color: green;
}

