/* Цвета:
    color: Устанавливает цвет текста.
    background-color: Устанавливает цвет фона элемента.
    background: Устанавливает цвет фона элемента.
    opacity: Задает прозрачность элемента и его потомков. 
*/

/* Градиенты:
    linear-gradient(): Создает градиент из двух или более цветов, которые идут в прямой линии.
    radial-gradient(): Создает градиент из центра элемента к его краям. 
*/

/* Фоны:
    background-image: Устанавливает изображение в качестве фона элемента.
    background-repeat: Определяет, как изображение фона должно повторяться.
    background-size: Устанавливает размер фонового изображения.
    background-position: Устанавливает начальное положение фонового изображения. 
*/