/* font-family: Устанавливает шрифт элемента.
font-size: Определяет размер шрифта.
font-weight: Устанавливает насыщенность шрифта (например, bold).
font-style: Определяет стиль шрифта (например, italic).
text-align: Выравнивает текст внутри элемента.
line-height: Устанавливает высоту строки.
letter-spacing: Определяет расстояние между символами.
text-decoration: Определяет декорации текста (например, underline).
font-variant: Определяет, должны ли буквы быть в нижнем регистре, верхнем регистре или как в нормальном тексте.
text-transform: Преобразует текст в верхний или нижний регистр, или делает первую букву каждого слова заглавной.
text-shadow: Добавляет тень к тексту. Вы можете указать сдвиг тени по горизонтали и вертикали, размытие и цвет.
white-space: Определяет какой тип пробелов должен поддерживать элемент.
word-spacing: Определяет интервал между словами.
text-overflow: Определяет, как текст, выходящий за границы элемента, должен обрабатываться.
line-break: Определяет поведение переноса строки внутри элемента.
word-break: Определяет, какому символу внутри слова разрешено переноситься.
hyphens: Управляет использованием переноса слов внутри элемента.
direction: Устанавливает направление текста - слева направо или справа налево. */

.selector {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #333;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    text-decoration: underline;
    background: #000;
  }