/* Box Model - это модель в CSS, 
которая определяет, как элементы на веб-странице организованы вокруг и внутри себя. 
Каждый HTML-элемент представляется как прямоугольная коробка или "бокс". */

/* Content (Содержимое): Это актуальное содержимое элемента, такое как текст, 
изображения или другие медиа-элементы. Размер содержимого определяется свойствами width и height.

Padding (Внутренний отступ): Пространство между содержимым элемента и его границей. 
Значения отступа устанавливаются с помощью свойства padding.

Border (Граница): Это линия, обрамляющая содержимое и отступ. 
Граница задается с помощью свойства border, которое включает толщину, стиль (например, сплошная, пунктирная) и цвет.

Margin (Внешний отступ): Пространство вокруг элемента, отделяющее его от других элементов на странице. 
Значения внешнего отступа устанавливаются с помощью свойства margin. 
*/

/* Допустим у нас есть блок с классом box */
/* <div class="box">Содержание элемента</div> */

/* Content */
.box {
  width: 10px;
  height: 10px;
}

/* Padding - это внутренний отступ*/
.box {
  /* со всех сторон задается внутренний отстпуп от контента по 10 пикселей  */
  padding: 10px;

  /* сверху и снизу по 10 пикселей, слево направо по 20 */
  padding: 10px 20px;

  /* сверху */
  padding-top: 10px;

  /* cнизу  */
  padding-bottom: 10px;

  /* слева */
  padding-left: 10px;

  /* справа */
  padding-right: 10px;
}

/* Margin - это внешний отступ */
.box {
  /* со всех сторон задается внешний отстпуп от контента по 10 пикселей  */
  margin: 10px;

  /* сверху и снизу по 10 пикселей, слево направо по 20 */
  margin: 10px 20px;

  /* сверху */
  margin-top: 10px;

  /* cнизу  */
  margin-bottom: 10px;

  /* слева */
  margin-left: 10px;

  /* справа */
  margin-right: 10px;
}

/* Border - это рамка вокруг блока */
.box {
  /* задает рамку со всех сторон */
  border: 1px solid red;

  /* сверху */
  border-top: 1px solid red;

  /* cнизу  */
  border-bottom: 1px solid red;

  /* слева */
  border-left: 1px solid red;

  /* справа */
  border-right: 1px solid red;

  /* также можно отдельно задавать ширину, вид и цвет рамки */
  border-width: 1px;
  border-style: solid;
  border-color: red;
}
