.box {
  width: 200px; /* Ширина элемента */
  height: 100px; /* Высота элемента */
  padding: 20px; /* Внутренние отступы */
  border: 1px solid #333; /* Граница */
  margin: 10px; /* Внешние отступы */
}

/* Примерно как это выглядит: */

|-------- margin ----------|
|                          |
|  |------ border ------|  |
|  |                    |  |
|  | --- padding ----  |  |
|  | |    content    | |  |
|  | ----------------- |  |
|  |                    |  |
|  |                    |  |
|  |--------------------|  |
|                          |
|------------------------- |