/* Главные понятия:
    Flex Container: Элемент, содержащий другие флекс-элементы. 
    Устанавливается свойством display: flex; или display: inline-flex;. 

    Flex Items: Дочерние элементы Flex Container, которые выстраиваются внутри контейнера.
*/

/* 
Свойства для Flex Container:
    justify-content: Управляет распределением флекс-элементов вдоль оси, соответствующей flex-direction.
    align-items: Выравнивает флекс-элементы в перпендикулярном направлении оси flex-direction.
    flex-direction: Определяет направление основной оси, по которой располагаются флекс-элементы. 
*/

/* 
Свойства для Flex Items:
    flex: Комбинация из flex-grow, flex-shrink и flex-basis, устанавливает гибкость и размер флекс-элементов.
    order: Устанавливает порядок флекс-элемента в контейнере.
    align-self: Переопределяет align-items для конкретного флекс-элемента. 
*/

<div class='parent'> /* Если мы зададим этому блоку свойсво: display: flex, то он становится flex-container*/
    <div class='childItem'></div> /* а эти элементы flex-item */
    <div class='childItem'></div> /* а эти элементы flex-item */
</div>


.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.childItem {
  /* задает начальный размер элемента */
  flex-basis: 100px;

  /* flex-grow и flex-shrink — это CSS-свойства, определяющие,
     какое количество свободного пространства флекс-контейнера может занимать текущий элемент. */
  flex-shrink: inherit;
  flex-grow: inherit;
}
