/* Позиционирование элементов в CSS позволяет контролировать расположение элементов на веб-странице. */

/* Есть 5 основных свойств */
/* 1. Static (Статическое): Это значение по умолчанию для всех элементов. Элементы позиционируются в потоке документа.
   2. Relative (Относительное): Элемент с позиционированием relative позиционируется относительно своего изначального положения.
   2. Absolute (Абсолютное): Элемент с позиционированием absolute позиционируется относительно 
   ближайшего родительского элемента с позиционированием, отличным от static.
   2. Fixed (Фиксированное): Элемент с позиционированием fixed позиционируется относительно окна браузера, 
   что означает, что элемент останется на одном месте при прокрутке страницы.
   2. Sticky (Липкое): Элемент с позиционированием sticky первоначально позиционируется как обычно, 
    но становится зафиксированным, когда его место попадает в область прокрутки. 
  */

.element {
    position: static;
}
.element {
    position: relative;
    top: 10px;
    left: 20px;
}
.element {
    position: absolute;
    top: 50px;
    left: 100px;
}
.element {
    position: fixed;
    top: 0;
    right: 0;
}
.element {
    position: sticky;
    top: 0;
}