:root {
  /* colors */
  --variable1: #000;
  --variable2: red;
  --variable3: rgb(4, 55, 240);

  /* sizes */
  --fs12: 12;
  --fs14: 14;
  --fs16: 16;
  --fs18: 18;

  /* weight */
  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw800: 800;
  --fw900: 900;
}
