/* 
    transform: scale() - для изменения размера элемента, 
    transform: rotate() - для поворота, 
    transform: translate() - для изменения положения, 
    transform: matrix() - а это можно использовать для всех этих трансформаций вместе 
*/
